html{
  background: rgb(0, 0, 0);
}
label{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px;;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.sub--container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 30vh;
  padding: 20px;
  background: #ffd426;
  border-radius: 10px;
}
.extra{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.line{
  margin: 10px;
}
.loading{
  color: white;
}